<div class="container mt-5">
    <h2>List Profiles</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profile of profiles">
          <td>{{ profile.id }}</td>
          <td>{{ profile.username }}</td>
          <td>{{ profile.email }}</td>
          <td>
            <button class="btn btn-primary">Detail</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>