<div class="row p-3">
  <div class="col-6">
    <!-- add filter here -->
    <button (click)="onCreateClick()" type="button" class="btn btn-secondary">
      <i class="bi bi-plus"></i>Add Profile
    </button>
    <div class="filter"></div>
  </div>
  <div class="col-6">
    <div *ngIf="!isEnableMultipleSelection" class="btn-group" style="float: right" ngbDropdown>
      <i class="bi bi-three-dots-vertical overlay-icon" ngbDropdownToggle></i>
      <div ngbDropdownMenu>
        <button (click)="clickEnableMultipleSelection(true)" class="dropdown-item">Multiple Selections</button>
      </div>
    </div>
    <div *ngIf="isEnableMultipleSelection" class="flex-container" style="float: right">
      <button (click)="onDeleteMultiple()" type="button" class="btn btn-light btn-outline-danger">
        Delete
      </button>
      <button (click)="clickEnableMultipleSelection(false)" type="button" class="btn btn-light btn-outline-dark">
        Cancel
      </button>
    </div>
  </div>
</div>
<div class="row">
  <ag-grid-angular
    style="width: 100%; height: calc(100vh - 170px)"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [paginationPageSize]="paginationPageSize"
    [rowSelection]="'multiple'"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
  ></ag-grid-angular>
</div>
