<div class="row p-3">
  <div class="col-6">
    <!-- add filter here -->
      <button type="button" class="btn btn-secondary">
        <i class="bi bi-plus"></i>Add Profile
      </button>
    <div class="filter"></div>
  </div>
  <div class="col-6">
    <button
      type="button"
      class="btn btn-outline-secondary"
      style="float: right"
    >
      Delete
    </button>
  </div>
</div>
<div class="row">
  <ag-grid-angular
    style="width: 100%; height: calc(100vh - 170px)"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [paginationPageSize]="paginationPageSize"
    [rowSelection]="'multiple'"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
  ></ag-grid-angular>
</div>
