/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.button-icon{
    border-radius: 50%;
    padding: 0!important;
    margin: 0;
    width: 40px;
    height: 40px;
    color: #00000091;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: unset;
    border: unset;
    * {
        font-size: 30px;
    }
    transition: 0.4s;

    outline: none;
    box-shadow: none;
}

.overlay-icon{
    border-radius: 50%;
    padding: 0!important;
    margin: 0;
    color: #00000091;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: unset;
    font-size: 25px;
    transition: 0.4s;
    width: 40px;
    height: 40px;
}

.overlay-icon:hover {
    background-color: rgb(186, 185, 185);
}
.button-icon:hover {
    background-color: rgb(186, 185, 185);
}

.modal-dialog {
    height: 100vh;
}

.p-bold {
    font-weight: bold;
}
.dropdown-toggle::after {
    display:none;
}
